@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@media (max-width: 640px) {
  .animate-marquee {
    animation-duration: 25s;
  }
}
